*{
    margin: 0;
    padding: 0;
}
html, body{
  height: 100%;
}
/* .App {
  text-align: center;
} */



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


mark { 
  background-color: aqua;
  color: black;
  cursor: pointer;
}

.highlight {
  background-color: #D2B48C;
  color:aliceblue;
}

.btn-primary {
  background-color: #D2B48C !important;
  border-color: black !important;
  margin: 2px;
}

.map-container {
  /* background-color: red; */
  height: 70vh;
}

.p-heading {
  font-family: "canada-type-gibson";
  font-weight: bold;
  font-size: 1.75rem;
}

.p-c-txt {
  font-family: "canada-type-gibson";
  text-transform: uppercase;
}
  .o-poem {
    font-family: "canada-type-gibson";
    
  }

 .p-line {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 1.15rem
 }

 .p-footer{
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
 }